body {
  color: var(--home-card-color);
  background-color: var(--home-background);
  margin: 0;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button {
    font-family: "Jost", sans-serif;
  }

  input {
    font-family: "Jost", sans-serif;
  }
}

#root {
  position: relative;

  display: flex;
  overflow: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

.ql-video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.quill {
  max-width: 920px;
}

.themePurple {
  --side-menu-item-select: #db8fff;

  --alert-background: #e9b9ff;

  --card-button-background: #8d17c4;
}

.themeGreen {
  --side-menu-item-select: #d4ffaa;

  --alert-background: #e1ffc2;

  --card-button-background: #68aa25;
}

.themePink {
  --side-menu-item-select: #fd84f5;

  --alert-background: #ffceff;

  --card-button-background: #d409d4;
}

.themeBlue {
  --side-menu-item-select: #84f5fd;

  --alert-background: #cefdff;

  --card-button-background: #18a7c0;
}

.themeYellow {
  --side-menu-item-select: #fdeb84;

  --alert-background: #fff6c0;

  --card-button-background: #ccb014;
}

.themeRed {
  --side-menu-item-select: #f55d5d;

  --alert-background: #ffbcbc;

  --card-button-background: #c00c0c;
}

.lightMode {
  --home-background: #fff;
  --home-card-background: #fff;
  --home-card-color: #000;

  --home-settings-button-background-hover: #e2e2e2;
  --home-settings-line: #5a5a5a;
  --home-settings-logout: #797979;

  --home-dark-button: #000;
  --home-dark-button-background: #808080;

  --side-menu-color: #fff;
  --side-menu-background: #363636;

  --side-menu-item-background-select: #4e4e4e;
  --side-menu-item: #ffffff;
  --side-menu-background-tooltip: #ffffff;

  --card-button-color: #fff;

  --edit-dropdown: #000000;
  --edit-dropdown-editable: #747474;
}

.darkMode {
  --home-background: #222;
  --home-card-background: #323232;
  --home-card-color: #fff;

  --home-settings-button-background-hover: #474747;
  --home-settings-line: #5a5a5a;
  --home-settings-logout: #797979;

  --home-dark-button: #ffffff;
  --home-dark-button-background: #808080;

  --side-menu-color: #fff;
  --side-menu-background: #323232;

  --side-menu-item-background-select: #4e4e4e;
  --side-menu-item: #ffffff;
  --side-menu-background-tooltip: #ffffff;

  --card-button-color: #fff;

  --edit-dropdown: #fff;
  --edit-dropdown-editable: #a0a0a0;
}
